@import "./base/mixins";
@import "./base/variables";
@import "./components/banner-time";
@import "./components/banner-title";
@import "./components/image-with-text";
@import "./components/paragraph";
@import "./components/product";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}
